.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 7.5rem 2.5rem 2.5rem 2.5rem;
}

.recipes-grid.list-view {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.recipe-card {
  position: relative;
  height: 180px;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  user-select: none;
  border-radius: 0.25rem;
  clip-path: inset(0 round 0.25rem);
}

.recipes-grid.list-view .recipe-card {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: #181818;
  border-radius: 0.4rem;
}

.recipes-grid.list-view .recipe-card {
  height: 60px;
}

.recipe-card-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
  border-radius: 0.25rem;
  transition: transform 0.2s;
}

.saturate-bg {
  filter: saturate(1.2);
}

.recipe-card:hover {
  cursor: pointer;
}

.recipe-card:hover .recipe-card-bg {
  transform: scale(1.4);
}

.recipe-card-content {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  height: 40%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.recipes-grid.list-view .recipe-card-content {
  position: relative;
  bottom: unset;
}

.recipe-card-content h2 {
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 90%;
  text-shadow: 2px 2px #333333;
}

.card-mark {
  position: absolute;
  top: -0.25rem;
  right: 0.5rem;

  padding: 0.25rem 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem #000;
}

.mark-stat {
  position: relative;
  width: 1.2rem;

  height: 0;
  transform: scaleY(0);
  padding: 0 0.5rem;
  transition: all 0.2s;
}

.recipe-card:hover .mark-stat {
  height: 1.2rem;
  transform: scaleY(1);
  padding: 0.5rem;
}

.mark-stat span {
  position: absolute;
  width: 1rem;
  padding: 0.1rem 0.15rem;
  right: 0.1rem;
  bottom: 0rem;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 600;
  border-radius: 0.2rem;
}

.card-svg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.recipes-grid.list-view .card-svg {
  position: relative;
  top: unset;
  right: unset;
}

.card-warning {
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 960px) {
  .recipes-grid {
    width: 100%;
    padding: 0;
    gap: 0;
    padding-top: 5rem;
  }

  .recipe-card {
    height: 200px;
    border-radius: 0;
  }

  .recipe-card-bg {
    border-radius: 0;
  }

  .recipe-card:hover .recipe-card-bg {
    transform: scale(1);
  }

  .recipe-card:hover {
    transform: translateY(0);
  }
}
