.history-page {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: calc(100vh - 5rem);
  overflow: hidden;
}

.history-summary {
  position: relative;
  width: 60rem;
  display: flex;
  justify-content: space-evenly;
}

.history-summary::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.dot {
  position: relative;
  width: 0.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: peru;
}

.dot span {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  white-space: nowrap;
  rotate: -10deg;
  color: #888;
}

.history-list {
  height: calc(100% - 1rem);
  overflow: scroll;
  padding: 0 1rem;
}

.history-list::-webkit-scrollbar {
  display: none;
}

.history-card {
  margin: 1.5rem 0;
  position: relative;
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  height: 4.6rem;
}

.history-card::before {
  content: "";
  position: absolute;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: #202020;
  z-index: -1;
}

.history-card::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 120%;
  top: 50%;
  left: -1rem;
  border-radius: 0.8rem;
  z-index: -3;
  border: solid 4px #444;
  border-right: none;
}

.history-card:last-child::after {
  display: none;
}

.history-card h3 {
  margin: 0.4rem 0;
  display: flex;
  justify-content: space-between;
}

.hist-card-ind {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -16px;
  left: 0;
  z-index: -2;
  opacity: 0.5;
  border-radius: 10px;
}

.hist-card-check {
  position: absolute;
  margin: 0;
  z-index: 2;
  width: 1.2rem;
  aspect-ratio: 1/1;
  background-color: #666;
  border-radius: 50%;
  left: -0.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.hist-card-check svg {
  position: absolute;
  height: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.history-macros {
  display: flex;
  gap: 12px;
  font-size: 14px;
  opacity: 0.9;
  height: 2rem;
}

.history-macros span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.history-macros svg {
  height: 1rem;
}

.history-chart {
  height: calc(100% - 2rem);
  padding: 1rem;
  padding-bottom: 0;
  display: grid;
  grid-template-rows: 2rem auto;
  gap: 0.5rem;
  overflow: hidden;
}

.history-chart-title {
  display: flex;
  justify-content: space-between;
}

.history-chart-title h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.swap-button {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #0000;
  border: none;
}
.swap-button svg {
  height: 1.2rem;
}

.swap-button:hover {
  filter: brightness(70%);
}

.history-charts {
  position: relative;
}

.history-chart-section {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  transition: top 0.5s;
}

.history-chart-section.main {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.history-chart-section.open {
  top: 0;
}

.bar-chart {
  position: relative;
  background-color: #202020;
  padding: 0.5rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  display: grid;
  grid-row: 1rem auto;
}

.bar-chart > h3 {
  position: absolute;
  margin: 0.5rem;
  padding: 0;
  display: flex;
  justify-content: start;
  padding-left: 2rem;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  gap: 0.5rem;
}

.bar-chart h3 span {
  font-weight: normal;
  color: #aeaeae;
}

@media (max-width: 640px) {
  .history-page {
    padding-top: 5rem;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow: auto;
  }

  .history-summary {
    display: none;
  }

  .history-list {
    height: fit-content;
    overflow: hidden;
    padding-left: 1.5rem;
  }

  .history-chart {
    display: none;
  }
}
