.all-ingredients {
  width: 100%;
  height: calc(100dvh - 6rem);
  overflow-y: scroll;
  padding-top: 6rem;
}

.all-ingredients::-webkit-scrollbar {
  display: none;
}

.ingredient-search {
  display: flex;
}

.ingredient-search-label {
  display: flex;
  align-items: center;
  background-color: #222;
  border: 2px solid #666;
  border-radius: 8px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.ingredient-search-label svg {
  height: 1.6rem;
}

.ingredient-search-input {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #0000;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #ffffff;
}

.ingredient-search-label:focus-within {
  border: 2px solid #eee;
}

.ingredient-search input:focus {
  border-color: #666;
}

.ingredient-stats {
  display: grid;
  grid-template-columns: repeat(5, 8rem);
  gap: 2rem;
  padding: 1rem 2rem;
}

.ingredient-stat {
  text-align: center;
  width: 8rem;
}

.ingredient-stat .stat-value {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
}

.ingredient-stat .stat-label {
  display: block;
  font-size: 0.95rem;
  color: #bbbbbb;
}

.ing-group {
  padding: 0 2rem;
}

.ing-group:last-child {
  padding-bottom: 2rem;
}

.ing-group-title {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  margin: 0.5rem 0;
}

.ing-group-title svg {
  height: 2rem;
}

.ing-group-title svg:first-child {
  rotate: -90deg;
}

.ing-group-title.open svg:first-child {
  rotate: 90deg;
}

.ingredient-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.ingredient-card {
  position: relative;
  background-color: #161616;
  border: 3px solid #444444;
  overflow: hidden;
  color: #aaaaaa;
  transition: transform 0.2s;
}

.ingredient-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.ingredient-card strong {
  color: #dddddd;
}

.ing-card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 0 1rem;
  background-color: #444444;
  width: 100%;
  height: 1.8rem;
}

.ing-card-header span {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 2rem);
}

.header-icons {
  position: absolute;
  top: 0.2rem;
  right: 2.2rem;
  display: flex;
  gap: 0.2rem;
}

.ing-card-header svg {
  width: 1rem;
  height: 1rem;
}

.ingredient-card-content {
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.nutrient-indicator {
  position: absolute;
  top: 1.8rem;
  right: 0;
  height: calc(100% - 1.8rem);
  width: 0.5rem;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.nutrient-fat {
  background-color: #f59f00;
}
.nutrient-carb {
  background-color: #1098ad;
}
.nutrient-prot {
  background-color: #f03e3e;
}

.ingredient-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #dddddd;
}

.ingredient-meta svg {
  height: 1.2rem;
}

.kcal {
  font-size: 0.85rem;
  padding: 0.3rem 0;
  border-bottom: solid 1px #333;
}

.macros {
  padding: 0.3rem 0;
  border-bottom: solid 1px #333;
}

.macros span {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.units {
  padding: 0.3rem 0;
  border-bottom: solid 1px #333;
}

.units span {
  display: block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.ing-price {
  border-bottom: solid 1px #333;
}

.ingredient-usage strong.none {
  color: #e03131;
}
.ingredient-usage strong.many {
  color: #099268;
}

.ingredient-id {
  position: absolute;
  right: 1rem;
  bottom: 0.3rem;
  font-size: 0.6rem;
  color: #666;
}

.ing-card-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

@media (max-width: 1200px) {
  .ingredient-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 960px) {
  .ing-group {
    padding: 1rem;
  }
  .ingredient-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .ingredient-card-content {
    padding: 0.5rem;
    padding-bottom: 1rem;
  }

  .ing-group-title {
    margin: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

@media (max-width: 720px) {
  .ingredient-list {
    grid-template-columns: 1fr 1fr;
  }

  .ingredient-stats {
    display: none;
  }
}

@media (max-width: 520px) {
  .ingredient-list {
    grid-template-columns: 1fr;
  }
}
