.statistics {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: calc(100vh - 4rem);
  background-color: rgba(0, 0, 0, 0.85);
  overflow-y: scroll;
  padding: 2rem;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.statistics-element {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 2rem;
  background-color: #111;
  border-radius: 1rem;
  border: solid #222 0.1rem;
  box-shadow: 0 0 1rem 0 #333;
}

.statistics-element h2 {
  filter: drop-shadow(0 0 0.5rem #aaa);
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.chart-wrapper {
  position: relative;
  flex: 1;
}

.statistics canvas {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
}

.close-statistics {
  position: fixed;

  top: 1rem;
  right: 2rem;
  z-index: 9;

  width: 2.8rem;
  height: 2.8rem;

  border: solid 0.2rem #333;
  background-color: #111;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.close-statistics svg {
  height: 2rem;
}

@media (max-width: 960px) {
  .statistics {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
  }

  .statistics-element {
    padding: 1rem;
    height: 420px;
  }

  .statistics-element {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}
