.recipes-page {
  position: relative;
  min-height: 100vh;
  color: #eaeaea;
  padding: 0;
  margin: 0;
  width: 100%;
}

.page-title h1 svg {
  height: 2.4rem;
}

.page-title-options {
  display: flex;
  gap: 1rem;
}

.toggle-filters-btn {
  display: none;
  padding: 0.5rem;
  background-color: #0000;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-filters-btn svg {
  width: 1.8rem;
}

.toggle-search-btn {
  display: none;
  padding: 0.5rem;
  background-color: #0000;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-search-btn svg {
  width: 1.8rem;
}

.filter-buttons-bg {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.filter-buttons-bg.show {
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: all;
}

.recipe-search-label {
  display: flex;
  align-items: center;
  background-color: #222;
  border: 2px solid #666;
  border-radius: 8px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.recipe-search-label svg {
  height: 1.6rem;
}

.recipe-search-input {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #0000;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #ffffff;
}

.recipe-search-label:focus-within {
  border: 2px solid #eee;
}

.filter-togglers {
  display: flex;
}

.toggler-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #666;
  border-radius: 8px;
  background-color: #222;
  cursor: pointer;
}

.toggler-btn svg {
  width: 24px;
  height: 24px;
}

.filters {
  position: absolute;
  top: calc(100% + 1rem);
  right: 1rem;
  background-color: #161616;
  border-radius: 1rem;
  display: flex;
  height: 28.4rem;
  padding: 0.4rem 1rem;

  opacity: 0;
  transform: translateX(120%);
  transition: all 0.3s;
}

.filters.show {
  opacity: 1;
  transform: translateX(0);
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.6rem;
  padding: 1.2rem;
}

.recipe-search {
  display: flex;
}

.filter-btn {
  position: relative;
  border: 2px solid #666;
  border-radius: 8px;
  background-color: #222;
  cursor: pointer;
  transition: 0.2s;

  gap: 1rem;
  padding: 0 1rem;
  width: 10.8rem;
  height: 3.2rem;
  font-size: 1.2rem;
  color: #fff;
  display: grid;
  grid-template-columns: 24px auto;
}

.filter-svg {
  width: 24px;
  height: 24px;
  margin: auto;
}

.filter-text {
  font-size: 1rem;
  display: block;
  text-align: start;
  margin: auto 0;
  color: #eaeaea;
}

.filter-btn:hover > span {
  display: inline;
}

.details-bg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  backdrop-filter: blur(4px);
}

.grid-container {
  min-height: calc(100dvh - 5rem);
}

.footer {
  background-color: #111;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.footer-button {
  height: 3rem;
  padding: 0 1.5rem;
  outline: none;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.footer-button svg {
  height: 1.2rem;
}

@media (max-width: 960px) {
  .page-title-options {
    gap: 0.5rem;
  }

  .toggle-filters-btn {
    display: inline-block;
  }
  .toggle-search-btn {
    display: inline-block;
  }

  .toggler-btn {
    display: none;
  }

  .recipe-search {
    display: flex;
    position: absolute;
    right: 50%;
    top: calc(100% + 1rem);
    transform: translateX(50%) scale(0);
    flex-direction: column;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 1) 100%
    );
    background-color: #333;
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.2s;
  }

  .recipe-search.show {
    transform: translateX(50%) scale(1);
  }

  .filters {
    padding: 0.5rem;
    z-index: 1;
  }

  .filter-buttons.sm-no {
    display: none;
  }

  .recipe-search-input {
    font-size: 1.4rem;
  }

  .filter-btn.active {
    filter: grayscale(1);
  }

  .filter-text {
    position: relative;
    bottom: unset;
    left: unset;
    transform: translateX(0);
    border: none;
    padding: 0;
    display: block;
  }
}

@media (max-width: 360px) {
  .h1-text {
    display: none;
  }
}
