:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

.recipes-page {
  position: relative;
  min-height: 100vh;
  color: #eaeaea;
  padding: 0;
  margin: 0;
  width: 100%;
}

.page-title {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
}

.page-title h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.page-title h1 svg {
  height: 2.4rem;
}

.page-title-options {
  display: flex;
  gap: 2rem;
}

.toggle-filters-btn {
  display: none;
  padding: 0.5rem;
  background-color: #0000;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-filters-btn svg {
  width: 1.8rem;
}

.toggle-search-btn {
  display: none;
  padding: 0.5rem;
  background-color: #0000;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.toggle-search-btn svg {
  width: 1.8rem;
}

.filter-buttons-bg {
  display: none;
}

.recipe-search-label {
  display: flex;
  align-items: center;
  background-color: #222;
  border: 2px solid #666;
  border-radius: 8px;
  padding: 0 0.5rem;
  cursor: pointer;
}
.recipe-search-label svg {
  height: 1.6rem;
}

.recipe-search-input {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #0000;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #ffffff;
}

.recipe-search-label:focus-within {
  border: 2px solid #eee;
}

.filter-buttons {
  display: flex;
  gap: 0.5rem;
}

.recipe-search {
  display: flex;
}

.filter-btn {
  position: relative;
  padding: 0.5rem;
  border: 2px solid #666;
  border-radius: 8px;
  background-color: #222;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.filter-svg {
  width: 24px;
  height: 24px;
}

.filter-text {
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #666;
  border-radius: 8px;
  background-color: #222;
  padding: 0.3rem 0.6rem;
  display: none;
}

.filter-btn:hover > span {
  display: inline;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 6rem 4rem;
}

.recipe-card {
  position: relative;
  height: 180px;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-position: center;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  user-select: none;
}

.recipe-card-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
  transition: filter 0.3s;
}

.saturate-bg {
  filter: saturate(1.2);
}

.recipe-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 32px rgba(100, 100, 100, 0.6);
  cursor: pointer;
}

.recipe-card-content {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  height: 50%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.recipe-card-content h2 {
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 90%;
}

.card-svg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #111;
  border-radius: 50%;
  padding: 0.5rem;
  border: solid 2px;
}
.card-warning {
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  width: 2rem;
  height: 2rem;
}

.details-bg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.recipe-details {
  position: fixed;
  inset: 0;
  z-index: 20;
  margin: 2rem 20rem;

  background-color: rgba(15, 17, 21, 0.97);
  backdrop-filter: blur(8px);
  display: grid;
  grid-template-rows: 260px auto;
  box-shadow: 0 0 0.5rem 0 #000;

  animation: modalIn 0.25s ease;
}

.recipe-details-params {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 30;
  padding: 0.2rem;
  gap: 0.2rem;
  transition: opacity 0.3s;

  background-color: #333;
  overflow: hidden;
}

.recipe-param {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: #111;
  padding: 0.5rem;
  font-weight: 600;
  background-color: #111;
}

.recipe-param::after {
  content: "";
  position: absolute;
  top: 0.9rem;
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  color: #fff;
}

.recipe-param:nth-child(1)::after {
  content: "kcal";
}
.recipe-param:nth-child(2)::after {
  content: "min";
}
.recipe-param:nth-child(3)::after {
  content: "por.";
}

.font-xl {
  font-size: 1.4rem;
}
.font-lg {
  font-size: 1.2rem;
}
.font-md {
  font-size: 1rem;
}
.font-sm {
  font-size: 0.8rem;
}

.status-green {
  color: #2ecc71;
}
.status-yellow {
  color: #f1c40f;
}
.status-red {
  color: #e74c3c;
}

.recipe-details-header {
  position: relative;
  height: 260px;
  overflow: hidden;
}

.details-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 260px;
  display: flex;
  touch-action: pan-y;
}

.recipe-details-image {
  position: absolute;
  top: 0;
  height: 260px;
  width: 100%;

  object-fit: cover;
  opacity: 0.85;
  filter: saturate(1.2);
  transition: left 0.3s ease;
}

.images-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  font-size: 8rem;
  height: 260px;
  cursor: pointer;
  user-select: none;
  padding: 0 0.5rem;
}

.images-arrow svg {
  width: 2rem;
}

.images-arrow:first-child {
  left: 0;
}
.images-arrow:last-child {
  right: 0;
}
.images-arrow:last-child svg {
  transform: rotate(180deg);
}

.images-indicators {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}
.image-indicator {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #111111;
  box-shadow: 0 0 1rem #000;
}
.image-indicator.active {
  background-color: #20c997;
}

.recipe-details-title {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  margin: 0;

  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 6px 12px rgba(0, 0, 0, 1);
}

.recipe-details-content {
  border: solid 0.3rem #333;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem;
  padding-top: 0;
  overflow-y: auto;
}

.recipe-details-content::-webkit-scrollbar {
  display: none;
}

.ingredients-container {
  padding: 0;
  margin: 0;
}

.recipe-ingredient-group {
  padding: 0;
  margin: 0;
}

.recipe-details-content h3 {
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
  color: #20c997;
}

.recipe-details-content h4 {
  font-size: 1rem;
  color: #63e6be;
}

.ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredients-list li {
  display: grid;
  grid-template-columns: 1rem auto 5rem;
  gap: 1rem;
  padding: 0.5rem 0;
  font-size: 0.95rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ingredients-list li:last-child {
  border: none;
}

.ingredient-amount {
  font-weight: 600;
  color: #63e6be;
  white-space: nowrap;
}

.ingredient-name {
  color: #eaeaea;
}

.ingredient-id {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
  font-size: 0.6rem;
  color: #666;
}

.ingredient-indicator {
  width: 1.2rem;
  height: 1.2rem;
  aspect-ratio: 1/1;
  margin: auto;
}

.steps h4 {
  padding-bottom: 0.5rem;
}

.steps-list {
  padding-left: 1.25rem;
  margin: 0;
}

.steps-list li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  color: #eaeaea;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;

  width: 2.8rem;
  height: 2.8rem;

  border: solid 0.2rem #333;
  background-color: #111;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    background-color 0.2s ease,
    right 0.3s ease,
    top 0.3s ease;
}

.close-button:hover {
  background-color: #2b2f38;
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #000;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.show-ingredients {
  cursor: pointer;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.all-ingredients {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-y: scroll;
}

.close-ingredients {
  position: fixed;

  top: 1rem;
  right: 2rem;
  z-index: 9;

  width: 2.8rem;
  height: 2.8rem;

  border: solid 0.2rem #333;
  background-color: #111;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-ingredients svg {
  height: 2rem;
}

.ingredient-group {
  padding: 2rem;
}

.ingredient-group-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.ingredient-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ingredient-card {
  position: relative;
  background: #161616;
  border: 3px solid #666666;
  overflow: hidden;
  color: #aaaaaa;
}

.ingredient-card strong {
  color: #dddddd;
}

.ingredient-card-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 0 1rem;
  background-color: #666666;
  width: 100%;
}

.ingredient-card-content {
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.ingredient-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #dddddd;
}

.ingredient-meta svg {
  height: 1.2rem;
}

.kcal {
  font-size: 0.85rem;
  padding: 0.3rem 0;
  border-bottom: solid 1px #333;
}

.macros {
  padding: 0.3rem 0;
  border-bottom: solid 1px #333;
}

.macros span {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.units {
  padding: 0.3rem 0;
  border-bottom: solid 1px #333;
}

.units span {
  display: block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.default-unit {
  font-size: 0.8rem;
  padding: 0.3rem 0;
}

@media (max-width: 960px) {
  .recipe-details {
    margin: 0;
    inset: 0;
    transition: grid-template-rows 0.3s;
  }

  .recipe-details.collapsed {
    grid-template-rows: 60px auto;
  }

  .recipe-details.collapsed .recipe-details-params {
    opacity: 0;
    pointer-events: none;
  }

  .recipe-details-header {
    transition:
      height 0.3s ease,
      padding 0.3s ease;
    position: relative;
  }

  .recipe-details.collapsed .recipe-details-header {
    height: 60px;
  }

  .recipe-details.collapsed .recipe-details-image {
    opacity: 0.4;
  }

  .recipe-details.collapsed .images-indicators {
    display: none;
  }

  .recipe-details-image {
    transition:
      left 0.3s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .images-arrow {
    display: none;
  }

  .recipe-details-title {
    position: absolute;
    left: 1rem;
    transition:
      bottom 0.3s ease,
      font-size 0.3s ease,
      transform 0.3s ease;
  }

  .images-indicators {
    scale: 0.8;
  }

  .recipe-details.collapsed .recipe-details-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    bottom: 50%;
    transform: translateY(50%);
    font-size: 1.5rem;
    max-width: 70%;
  }

  .recipe-details.collapsed .close-button {
    top: 0.5rem;
    right: 0.5rem;
  }

  .recipes-grid {
    width: 100%;
    padding: 0;
    gap: 0;
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  .recipe-details-content {
    grid-template-columns: 100%;
    border: none;
    padding-top: 4rem;
  }

  .page-title-options {
    gap: 0.5rem;
  }

  .toggle-filters-btn {
    display: inline-block;
  }
  .toggle-search-btn {
    display: inline-block;
  }

  .recipe-search {
    display: none;
    position: absolute;
    right: 50%;
    top: calc(100% + 1rem);
    transform: translateX(50%);
    flex-direction: column;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 1) 100%
    );
    background-color: #333;
    border-radius: 8px;
    padding: 1rem;
  }

  .recipe-search.show {
    display: flex;
  }

  .filter-buttons {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: calc(100% + 0.5rem);
    flex-direction: column;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 1) 100%
    );
    background-color: #333;
    border-radius: 8px;
    padding: 1rem;
  }

  .filter-buttons.show {
    display: flex;
  }

  .filter-buttons-bg.show {
    position: absolute;
    top: 5rem;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .recipe-search-input {
    font-size: 1.4rem;
  }

  .filter-btn {
    background-color: #222;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0 1rem;
    width: 10.8rem;
    height: 3.2rem;
    font-size: 1.2rem;
    color: #fff;
  }

  .filter-btn.active {
    filter: grayscale(1);
  }

  .filter-text {
    display: block;
  }

  .recipe-card:hover {
    transform: translateY(0);
  }

  .ingredient-group {
    padding: 1rem;
  }
  .ingredient-list {
    grid-template-columns: 1fr;
  }

  .ingredient-card-content {
    padding: 0.5rem;
    padding-bottom: 1rem;
  }
}
